<div class="container-fluid px-4">
    <h2 class="p-4 ">Employer Profile</h2>
        <div class="" style="justify-content:center;" >
            <div class="row p-4">
                <div class="col-md-8">
               <P>company : {{employer.company_name}}</P> 
<br>
                <p>Type: {{employer.company_type}}</p>
                <br>
                <p>Company Email: {{employer.company_email}}</p>
                <br>
                <p>Company Number: {{employer.company_number}}</p>
                <br>
                <p>Company Address: {{employer.company_address}}</p>
                <br>
                <p>Company Website: {{employer.company_website}}</p>
                <br>
                <p>Company CAC: {{employer.company_cac}}</p>
                <br>
                <p>Hupacan: {{employer.hupacan}}</p>
                <br>
                <p>Staffing Agency: {{employer.staffing}}</p>
                <br>
                <p>Agent First Name: {{employer.agent_first_name}}</p>
                <br>
                <p>Agent Last Name: {{employer.agent_last_name}}</p>
                <br>
                <p>Agent Number: {{employer.agent_number}}</p>
                <br>
                <p>Agent Email: {{employer.agent_email}}</p>
                <br>
                <p>Password: {{employer.password}}</p>
                <br>
                <p>Posted: {{employer.posted}}</p>
                <br>
                <p>Status: {{employer.status}}</p>
                      
                       
                </div>
            </div>    
        </div>




</div>